<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derekjames.uiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chime_ArticleList" />
        <activity android:name=".Chime_Full_Article" />
        <activity android:name=".Map" />
        <activity android:name=".Building_Hours" />
        <!--<activity android:name=".Restaurants_Main" />-->
        <activity android:name=".Restaurants_Food_Menus" />
        <activity android:name=".Restaurants_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chime_Main_Tab"
            android:label="@string/title_activity_chime__main__tab"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>